
.aside {
    width: 270px;
    height: 100vh;
    background: var(--bg-dark-blue);
  }
  
  .aside h3 {
    color: white;
  }
  
  .aside-logo {
    padding: 15px;
  }
  
  .user-image {
    max-width: 150px;
    text-align: center;
    margin: 4em auto 0 ;
  }
  
  .user-image img{
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: .9em;
  }
  
  .aside-menu {
    color: white;
    padding-top: 5em;
    max-width: 190px;
    margin: 0 auto;
  }
  
  .aside-menu li h3:first-child  {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(164, 164, 164, 1);
  }
  
  .aside-menu li:not(:first-child) {
    padding: 10px;
    transition: .5s;
  }
  
  .aside-menu li:not(:first-child):hover {
    background-color: var(--bg-green);
    cursor: pointer;
  }