
.content-form-login {
    position: static;
  }
  
  .img-bg {
    overflow: hidden;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/6395249/pexels-photo-6395249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    opacity: .5;
    position: absolute;
    width: 70%;
    z-index: -1;
  }
  
  .content-form-login form {
    max-width: 600px;
    padding: 5em 5em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 400px;
  }
  
  .content-form-login form input[type="text"] {
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: .5em;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
  }
  
  .content-form-login form  input[type="text"]::placeholder {
    color: rgb(138, 138, 138);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .content-form-login form  input[type="text"]:focus {
    outline: 1px solid rgb(94, 94, 94);
  }
  
  .content-form-login form button[type="submit"] {
    cursor: pointer;
    margin-top: 1em;
    flex-basis: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(131, 196, 34, 1);
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition: .5s;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(107, 160, 29);
  }