@import "./fontesImports.css";

:root {
    --color-font: rgba(58, 61, 73, 1);
    --color-font-clear: rgba(206, 160, 163, 1);
    --color-font-nav: rgba(109, 61, 73, 1);
    --color-contrast: rgba(255, 209, 65, 1);
    --content-max-width: 1200px;
}

a {
    color: white;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(57, 61, 74, 1);
    max-height: 60px;
}

.header img {
    max-width: 17px;
    margin-right: 30px;
}

.header-content {
    max-width: var(--content-max-width);
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: white;
}

.header-menu {
    display: flex;
    font-weight: 600;
    gap: 20px;
}

.header-phone {
    display: flex;
}

.header-login img{
    margin-right: 10px;
}